html, body {
  background-color: #000;
  color: #808080;
}

button.toggle-ext.toggle-ext-on {
  color: #eee;
  background-color: transparent;
  border-top-width: 1px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  border-right-width: 1px;
  margin-left: 5px;
  margin-right: 5px;
  border-style: solid;
  border-color: #808080;
  box-shadow: none;
}

/* need to implement inner border
https://stackoverflow.com/questions/4839613/how-to-make-round-corners-to-both-inside-of-a-box-and-its-border
*/

button.toggle-ext:hover {
  color: #fff;
  border-color: #999;
}

button.toggle-ext.toggle-ext-off {
  color: #fff;
  border-color: #aaa;
  border-bottom-width: 1px;
  border-left-width: 1px;
  margin-right: 8px;
  margin-top: 4px;
  background-color: rgba(255, 0, 0, 0.1);
}
